<?xml version="1.0" encoding="iso-8859-1"?>
<SqlDbConfig version="2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="SqlDbConfig.xsd">
  <Database id="ssd" metaModel="2.4">
    <Descriptions>
      <Description lang="en">My database</Description>

    </Descriptions>
  <Connection databaseType="MSSQLSERVER" dataProvider="Sql" useTemporaryTables="true" >
    <ConnectionString>XYZ</ConnectionString>
    <DefaultUser>XYZ</DefaultUser>
    <DefaultPassword>XYZ</DefaultPassword>
  </Connection>
    <Languages>
      <Language main="true" name="English" code="en" metaSuffix="" />
    </Languages>
    <Codes />
    <Keywords>
    </Keywords>
    <Tables>
      <Table modelName="Contents" tableName="Contents" alias="CNT">
        <Columns>
          <Column modelName="LastUpdated" columnName="Published"/>
        </Columns>
      </Table>
    </Tables>
  </Database>
</SqlDbConfig>
