name: pxweb-demo

services:
  web:
    depends_on:
      - api
    image: ghcr.io/pxtools/pxweb2:2.6.2
    pull_policy: always 
    ports:
      - "8080:8080"
    volumes:
      - ./docker/pxweb2/public/config:/usr/share/nginx/html/config:rw
      - ./docker/pxweb2/public/content:/usr/share/nginx/html/content:rw
      - ./docker/pxweb2/public/fonts:/usr/share/nginx/html/fonts:rw
      - ./docker/pxweb2/public/icons:/usr/share/nginx/html/icons:rw
      - ./docker/pxweb2/public/images:/usr/share/nginx/html/images:rw
      - ./docker/pxweb2/public/locales:/usr/share/nginx/html/locales:rw
      - ./docker/pxweb2/public/theme:/usr/share/nginx/html/theme:rw

  api:
    image: ghcr.io/pxtools/pxwebapi:2.2.0
    pull_policy: always
    ports:
      - "8081:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ./docker/pxwebapi/appsettings.json:/app/appsettings.json:ro
      - ./docker/pxwebapi/SqlDb.config:/app/SqlDb.config:ro
      - ./docker/pxwebapi/wwwroot/ControllerStates:/app/wwwroot/ControllerStates:rw
      - ./docker/pxwebapi/Database:/app/wwwroot/Database:rw
    post_start:
      - command: apk add curl
        user: root
      - command: curl -is -X PUT http://api:8080/api/v2/admin/database
      - command: curl -is -X POST http://api:8080/api/v2/admin/searchindex
      - command: apk del curl
        user: root
