<?xml version="1.0"?>
<metaId>
  <onTable>
    <metaSystem id="KORTNAVN">
      <relationalGroup relation="statistics-homepage" type="text/html">
        <link pxLang="sv" labelStringFormat="Statistikkens hjemmeside" urlStringFormat="https://www.ssb.no/{0}" />
        <link pxLang="en" labelStringFormat="Statistics homepage" urlStringFormat="https://www.ssb.no/en/{0}" />
      </relationalGroup>
      <relationalGroup relation="about-statistics" type="text/html">
         <link pxLang="sv" labelStringFormat="Om statistikken" urlStringFormat="https://www.ssb.no/{0}#om-statistikken" />
         <link pxLang="en" labelStringFormat="About the statistics" urlStringFormat="https://www.ssb.no/en/{0}#om-statistikken" />
      </relationalGroup>
    </metaSystem>
  </onTable>
  <onVariable>
    <metaSystem id="urn:ssb:classification:klass">
       <relationalGroup relation="definitions" type="text/html">   
         <link pxLang="sv" labelStringFormat="Klassifikasjon for {0}." urlStringFormat="https://www.ssb.no/klass/klassifikasjoner/{0}" />
         <link pxLang="en" labelStringFormat="Classification for {0}." urlStringFormat="https://www.ssb.no/en/klass/klassifikasjoner/{0}" />
       </relationalGroup>  
    </metaSystem>
    <metaSystem id="urn:ssb:conceptvariable:vardok">
      <relationalGroup relation="definitions" type="text/html">   
         <link pxLang="sv" labelStringFormat="Definisjon av {0}." urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/nb" />
         <link pxLang="en" labelStringFormat="Definition of {0}." urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/en" />
      </relationalGroup>
    </metaSystem>
  </onVariable>
  <onValue>
    <metaSystem id="urn:ssb:conceptvariable:vardok">
      <relationalGroup relation="definitions" type="text/html">
        <link pxLang="sv" labelStringFormat="Definisjon av {1} for vaiabel {0}." urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/nb" />
        <link pxLang="en" labelStringFormat="Definition of {1} for vaiable {0}." urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/en" />
      </relationalGroup>
    </metaSystem>
  </onValue>
</metaId>
